.offerings{
    margin-top: 50px;
    background-size: cover;
    margin-right:auto;
    margin-left:auto;
    background-image: url(../images/offerings/background-320.svg);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 41px;
    padding-bottom: 60px;
    @media screen and (min-width:$phone) {
        background-image: url(../images/offerings/background-480.svg);
    }
    
    @media screen and (min-width:$tablet) {
        margin-top: -110px;
        padding-top: 150px;
        padding-bottom: 100px;
        background-image: url(../images/offerings/background-768.svg);
    }
    
    @media screen and (min-width:$desktop) {
        margin-top: -145px;
        padding-top: 177px;
        padding-bottom: 43px;
        background-image: url(../images/offerings/background-1280.svg);
    }
    @media screen and (min-width:1600px) {
        margin-top: -200px;
    }

}
.offerings--position{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @media screen and (min-width:$desktop) {
        flex-direction: row;
        justify-content: space-between;
    }
}


.offerings__content{
    @media screen and (min-width:$desktop) {
            max-width: 573px;
        }
}

.offerings__title{
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    
    @media screen and (min-width:$tablet) {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        max-width: 500px;
    }
}

.offerings__text{

    font-weight: 400;
    font-size: 14px;
    line-height: 1.17em;
    margin-bottom: 28px;
    
    @media screen and (min-width:$tablet) {
        font-size: 16px;
        margin-bottom: 40px;
        max-width: 500px;
    }
    
    @media screen and (min-width:$desktop) {
        line-height: 1.5em;
    }   
}

.offerings__list{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 28px;
   
    @media screen and (min-width:$tablet) {
        flex-direction: row;
        gap: 116px;
        margin-bottom: 40px;
    }
    
    @media screen and (min-width:$desktop) {
        margin-bottom: 32px;
        gap: 67px;
    }

    &--title{
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
    }
    &--text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.17em;
   
        @media screen and (min-width:$desktop) {
            line-height: 1.5em;
        }
    }
}

// icon

.offerings__icon::before {
    content: "";
    display: block;
    background-image: url(../images/offerings/rocket.svg) ;
    background-color: $background-color;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    
    background-position: center;
    margin-bottom: 8px;
    background-repeat: no-repeat;
}
.offerings__icon--touch::before {
   
    background-image: url(../images/offerings/touch.svg);
   
}

// buttons

.offerings__buttons{
    display: flex;
    gap: 24px;
}




.button--order{
    padding: 10px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    border: 2px solid $dark-green;
    border-radius: 30px;
    cursor: pointer;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover ,&:focus{
        border:2px solid $hover-green;
    }

}



.button--read{
    display:flex;
    align-items:center;
    font-weight: 400;
    font-size: 13.6667px;
    line-height: 150%;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    &::after{
        content: "";
        display: block;
        background-image: url(../images/offerings/vector.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 13.67px;
        height: 13.67px;
        margin-left:3.42px ;
    }
    @media screen and (min-width:$desktop) {
        display:none;
    }
}
.extra-text {
    display: none;
}
#read-more:checked ~ .extra-text {
	display: block;
}

.less {
	display: none;
}

#read-more:checked ~ .offerings__buttons .button--read .more {
	display: none;
}

#read-more:checked ~ .offerings__buttons .button--read .less {
	display: inline;
}