#slider {
    width:320px;
    height:320px;
    position: relative;
    
    // margin: 50px auto 50px auto;

    @media screen and (max-width:$tablet){
      display:none;
    }
    @media screen and (min-width:$desktop){
      width:580px;
      height:580px;
    }
      
    }
  
  .slid-wrap{
    overflow: hidden;
    border-radius: 50%;
    border:14px solid $yellow-main;
    @media screen and (min-width:$desktop){
      border:26px solid $yellow-main;
    }
  }
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 292px;
    height: 292px;
    @media screen and (min-width:$desktop){
      width:528px;
      height:528px;
    }
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: block;
    width: 34px;
    height: 28px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:$desktop){
      width:48px;
      height:40px;
    }
    color:$text-color;
  }
  .arrow-icon {
    width:11px;
    height:20px;
    fill:currentColor;
    @media screen and (min-width:$desktop){
      width:16px;
      height:29px;
    }
  }
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    color:$button-green;
  }
  
  a.control_prev {
    left:-10px;
  }
  
  a.control_next {
    right: -10px;
  }