.subscribe {
  padding-bottom: 60px;
  margin-top: -70px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 64px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: $text-color;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }
}

.subscribe__description {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.subscribe__img {
  margin-bottom: 17px;

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 281px;
    height: 136px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    width: 608px;
    height: 266px;
    margin: 0;
  }
}

.subscribe__container {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    align-items: center;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    align-items: flex-end;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.subscribe__form {
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  gap:20px;
  @media screen and (min-width:$tablet) {
    flex-direction: row;
    justify-content: flex-start;
    gap:22px;
  }
  @media screen and (min-width: $desktop) {
    gap:32px;
  }
}
.form-field{
  display:flex;
  flex-direction: column;
  gap:4px;
  position:relative;
}
.form-field > #email-error {
  @media screen and (max-width:$tablet - 1) {
    position:absolute;
    bottom:-20px;
  }
}
.subscribe__form-input {
  outline: none;
  padding-left: 12px;
  height: 42px;
  border-radius: 30px;
  border: 0.85px solid $yellow-main;
  color: #505050;
  font-size:12px;
  font-weight: 400;
  &:valid {
    border-color: $dark-green;
  }

  &:not(:placeholder-shown):required:invalid {
    border-color: $field-error;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 395px;
  }

  @media screen and (min-width: $desktop) {
    max-height: 42px;
  }
  &::placeholder {
    font-size:12px;
    color:#505050;
    font-weight:400;
  }
}

.subscribe__form-input.error {
  font-size: 12px;
}

.subscribe__button {
  border: none;
  padding: 11px 22px;
  height: 42px;
  border-radius: 30px;
  background-color: $button-green;
  color: $text-color;
  transition: background-color 250ms $time-function;
  font-size:13px;
  font-weight:500;
  cursor:pointer;
  &:hover,
  &:focus {
    background-color: $button-hover;
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
  }
}
