body {
  background-color: #FEFEFE;
  color: #2C2C2C;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

.header {
  background-color: aqua;
  height: 200px;
}

.hero {
  background-color: bisque;
  height: 500px;
}

.offerings {
  background-color: cadetblue;
  height: 400px;
}

.favorites {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .favorites {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.favorites__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .favorites__title {
    font-size: 42px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 768px) {
  .favorites__title,
.favorites__text {
    max-width: 280px;
  }
}

.favorites__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .favorites__text {
    font-size: 16px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .favorites__text {
    margin-bottom: 40px;
  }
}

.favorites-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .favorites-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.favorites-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 282px;
  border-radius: 50%;
  overflow: hidden;
  border: 11px solid #FFE550;
  box-sizing: border-box;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.favorites-list__item:active, .favorites-list__item:hover {
  border: 11px solid #BBF330;
}
@media screen and (min-width: 768px) {
  .favorites-list__item {
    min-width: 336px;
    min-height: 338px;
    border: 14px solid #FFE550;
  }
  .favorites-list__item:active, .favorites-list__item:hover {
    border: 14px solid #BBF330;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-list__item {
    min-width: 394px;
    min-height: 397px;
    border: 16px solid #FFE550;
  }
  .favorites-list__item:active, .favorites-list__item:hover {
    border: 16px solid #BBF330;
  }
}

@media screen and (max-width: 768px) {
  .item-none {
    display: none;
  }
}

.reviews__container {
  padding-top: 60px;
  padding-bottom: 25px;
  background-color: #FFE550;
}
@media screen and (min-width: 768px) {
  .reviews__container {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews__container {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

.reviews__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.reviews__text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    font-size: 16px;
    line-height: 1.19;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .comments {
    flex-direction: row;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    gap: 139px;
  }
}

.comments__item {
  padding: 8px;
  max-width: 501px;
  background-color: #fff;
  border-radius: 0 30px 30px 30px;
}
@media screen and (min-width: 768px) {
  .comments__item {
    padding: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__item {
    padding: 14px;
  }
}

.rating {
  display: flex;
  margin-bottom: 28px;
}

.rating__item:not(:last-child) {
  margin-right: 4px;
}

.comments__text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .comments__text {
    font-size: 18px;
  }
}

.comments__flex {
  display: flex;
  align-items: center;
}

.comments__photo {
  margin-right: 16px;
}

.comments__reviewer {
  display: flex;
  flex-direction: column;
  border-right: 0.85px solid #7EB101;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .comments__reviewer {
    border-right: 1px solid #7EB101;
  }
}

.comments__name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.comments__person {
  font-size: 14px;
  line-height: 150%;
}

.subscribe {
  background-color: blanchedalmond;
  height: 400px;
}

.footer {
  height: 619px;
  background: url(../images/footer-back-right-mob.png) no-repeat right, url(../images/footer-back-left-mob.png) no-repeat left top 132px, url(../images/footer-back-bottom-mob.png) no-repeat bottom;
}
@media screen and (min-width: 768px) {
  .footer {
    background: url(../images/footer-back-tablet.png) no-repeat bottom right;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    background: url(../images/footer-back-desktop.png) no-repeat bottom;
  }
}/*# sourceMappingURL=main.css.map */