<!-- favorites -->

<section class="favorites" id="favorites">
  <h2 class="favorites__title">Some of Our Favorites</h2>
  <p class="favorites__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="favorites-list list">
    <li class="favorites-list__item">
      <img
        class="img-mobile"
        src="../images/favorites/gamburger-224.jpg"
        srcset="
          ../images/favorites/gamburger-224.jpg 224w,
          ../images/favorites/gamburger-268.jpg 268w,
          ../images/favorites/gamburger-315.jpg 315w,
          ../images/favorites/gamburger-448.jpg 448w,
          ../images/favorites/gamburger-536.jpg 536w,
          ../images/favorites/gamburger-630.jpg 630w
        "
        sizes="(min-width: 1200px) 315px, (min-width: 768px) 269px, (min-width: 480px) 224px"
        alt="gamburger"
      />
    </li>
    <li class="favorites-list__item">
      <img
        class="img-mobile"
        src="../images/favorites/pasta-224.jpg"
        srcset="
          ../images/favorites/pasta-224.jpg 224w,
          ../images/favorites/pasta-269.jpg 269w,
          ../images/favorites/pasta-315.jpg 315w,
          ../images/favorites/pasta-448.jpg 448w,
          ../images/favorites/pasta-538.jpg 538w,
          ../images/favorites/pasta-630.jpg 630w
        "
        sizes="(min-width: 1200px) 315px, (min-width: 768px) 269px, (min-width: 480px) 224px"
        alt="pasta"
      />
    </li>
    <li class="favorites-list__item">
      <img
        class="img-mobile"
        src="../images/favorites/pizza-224.jpg"
        srcset="
          ../images/favorites/pizza-224.jpg 224w,
          ../images/favorites/pizza-268.jpg 268w,
          ../images/favorites/pizza-315.jpg 315w,
          ../images/favorites/pizza-448.jpg 448w,
          ../images/favorites/pizza-536.jpg 536w,
          ../images/favorites/pizza-630.jpg 630w
        "
        sizes="(min-width: 1200px) 315px, (min-width: 768px) 269px, (min-width: 480px) 224px"
        alt="pizza"
      />
    </li>
    <li class="favorites-list__item item-none"><img src="" alt="" /></li>
    <li class="favorites-list__item item-none"><img src="" alt="" /></li>
    <li class="favorites-list__item item-none"><img src="" alt="" /></li>
  </ul>
</section>
