<div class="container">
  <section class="favorites" id="favorites">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list list">
      <li class="favorites-list__item">
        <img
          class="img-mobile"
          src="./images/./favorites/gamburger-mobile.jpg"
          srcset="
            ./images/./favorites/gamburger-mobile.jpg     224w,
            ./images/./favorites/gamburger-tablet.jpg     268w,
            ./images/./favorites/gamburger-desktop.jpg    315w,
            ./images/./favorites/gamburger-mobile@2x.jpg  448w,
            ./images/./favorites/gamburger-tablet@2x.jpg  536w,
            ./images/./favorites/gamburger-desktop@2x.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px, (min-width: 480px) 224px"
          alt="gamburger"
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="img-mobile"
          src="./images/./favorites/pasta-mobile.jpg"
          srcset="
            ./images/./favorites/pasta-mobile.jpg     224w,
            ./images/./favorites/pasta-tablet.jpg     269w,
            ./images/./favorites/pasta-desktop.jpg    315w,
            ./images/./favorites/pasta-mobile@2x.jpg  448w,
            ./images/./favorites/pasta-tablet@2x.jpg  538w,
            ./images/./favorites/pasta-desktop@2x.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px, (min-width: 480px) 224px"
          alt="pasta"
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="img-mobile"
          src="./images/./favorites/pizza-mobile.jpg"
          srcset="
            ./images/./favorites/pizza-mobile.jpg     224w,
            ./images/./favorites/pizza-tablet.jpg     268w,
            ./images/./favorites/pizza-desktop.jpg    315w,
            ./images/./favorites/pizza-mobile@2x.jpg  448w,
            ./images/./favorites/pizza-tablet@2x.jpg  536w,
            ./images/./favorites/pizza-desktop@2x.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px, (min-width: 480px) 224px"
          alt="pizza"
        />
      </li>
      <li class="favorites-list__item item-none">
        <img
          class="img-mobile"
          src="./images/./favorites/chicken-tablet.jpg"
          srcset="
            ./images/./favorites/chicken-tablet.jpg     268w,
            ./images/./favorites/chicken-desktop.jpg    315w,
            ./images/./favorites/chicken-tablet@2x.jpg  536w,
            ./images/./favorites/chicken-desktop@2x.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px"
          alt="chicken"
        />
      </li>
      <li class="favorites-list__item item-none">
        <img
          class="img-mobile"
          src="./images/./favorites/salat-tablet.jpg"
          srcset="
            ./images/./favorites/salat-tablet.jpg     268w,
            ./images/./favorites/salat-desktop.jpg    315w,
            ./images/./favorites/salat-tablet@2x.jpg  536w,
            ./images/./favorites/salat-desktop@2x.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px"
          alt="salat"
        />
      </li>
      <li class="favorites-list__item item-none">
        <img
          class="img-mobile"
          src="./images/./favorites/borshch-tablet.jpg"
          srcset="
            ./images/./favorites/borshch-tablet.jpg     268w,
            ./images/./favorites/borshch-desktop.jpg    315w,
            ./images/./favorites/borshch-tablet@2x.jpg  536w,
            ./images/./favorites/borshch-desktop@2x.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 269px"
          alt="borshch"
        />
      </li>
    </ul>
  </section>
</div>
