<div class="footer">
    <div class="container footer-container">
        <div class="footer__wrap">
            <a href="./index.html" class="footer__link-logo">
                <svg class="footer__logo" width="69px" height="52px">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            
            <nav class="nav">
                <ul class="nav__list list">
                    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Service</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Menu</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                </ul>
            </nav>
            
            <div class="footer-sub">
                <p class="footer-title">Subscribe</p>
                <form class="footer-form">
                    <label class="footer-form__label">
                        <input type="text" class="footer-form__field" name="mail" placeholder="Enter your email" />
                    </label>
                    <button type="submit" class="footer-form__button">Subscribe</button>
                </form>
                <p class="footer-form__agreetment">By subscribing you agree to with our <a class="footer-form__policy" href="#">Privacy
                        Policy</a></p>
            </div>
        </div>
        <div class="footer-terms">
            <ul class="footer-terms__list list">
                <li class="footer-terms__item"><a href="#" class="footer-terms__link">Privacy Policy</a></li>
                <li class="footer-terms__item"><a href="#" class="footer-terms__link">Terms of Service</a></li>
                <li class="footer-terms__item"><a href="#" class="footer-terms__link">Cookies Settings</a></li>
            </ul>
            <p class="footer-terms__rights">2022 FoodSta. All right reserved.</p>
        </div>
    </div>
</div>