<div class="container footer-container">
  <div class="footer__wrap">
    <div class="footer-top">
      <a href="./index.html" class="footer__link-logo">
        <svg class="footer__logo" width="69px" height="52px">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item"><a href="#offerings" class="nav__link">Offerings</a></li>
          <li class="nav__item"><a href="#favorites" class="nav__link">Favorites</a></li>
          <li class="nav__item"><a href="#reviews" class="nav__link">Customer Say</a></li>
          <li class="nav__item"><a href="#subscribe" class="nav__link">Subscribe</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-sub">
      <p class="footer-form__title" for="email">Subscribe</p>
      <form class="footer-form" id="subscribe_form2">
        <div class="form-field">
          <!--<label class="footer-form__label" for="email">Subscribe</label>-->
          <input
            type="email"
            class="footer-form__input"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
        <button type="submit" class="footer-form__button">Subscribe</button>
      </form>
      <p class="footer-form__agreetment">
        By subscribing you agree to with our
        <a class="footer-form__policy" href="#">Privacy Policy</a>
      </p>
    </div>
  </div>
  <div class="footer-terms">
    <ul class="footer-terms__list list">
      <li class="footer-terms__item">
        <a href="#" class="footer-terms__link">Privacy Policy</a>
      </li>
      <li class="footer-terms__item">
        <a href="#" class="footer-terms__link">Terms of Service</a>
      </li>
      <li class="footer-terms__item">
        <a href="#" class="footer-terms__link">Cookies Settings</a>
      </li>
    </ul>
    <p class="footer-terms__rights">2022 FoodSta. All right reserved.</p>
  </div>
</div>
