<header class="header">
    <div class="container header-container">
    <a href="./index.html">
        <svg class="footer__logo" width="69px" height="52px">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>
    </a>
    <nav class="top-nav js-menu-container">
        <button class="close js-close-menu">
            <svg class="close__icon">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="main-menu list">
            <li><a href="#offerings" class="main-menu__links">Offerings</a></li>
            <li><a href="#offerings" class="main-menu__links">Favorites</a></li>
            <li><a href="#reviews" class="main-menu__links">Customers Say</a></li>
            <li><a href="#subscribe" class="main-menu__links">Subscribe</a></li>
        </ul>
        
    </nav>
    <button class="order-btn">
        Order Now
    </button>
    <button class="menu-btn js-open-menu">
        <svg class="menu-btn__icon">
            <use href="./images/icons.svg#icon-burger"></use>
        </svg>
    </button>
    
    </div>
</header>