<section class="hero">

    <div class="container">
        <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
            elementum tristique.
            Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <button class="orderButton">
            <span class="orderButton-text">Order Now</span>
        </button>
        <div class="ellipse">
            <picture>
                <source srcset="./images/heroEllipseDesktop.png" media="(min-width: 1280px)">
                <source srcset="./images/heroEllipseTablet.png" media="(min-width: 768px)">
                <img src="./images/heroEllipseDesktop.png" alt="">
            </picture>
        </div>
        <div class="swiper-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./images/sliderImage1Decktop.png" media="(min-width: 1280px)">
                            <source srcset="./images/sliderImage1Tablet.png" media="(min-width: 768px)">
                            <img src="./images/sliderImage1Decktop.png" alt="food">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./images/sliderImage2Decktop.png" media="(min-width: 1280px)">
                            <source srcset="./images/sliderImage2Tablet.png" media="(min-width: 768px)">
                            <img src="./images/sliderImage2Decktop.png" alt="food">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./images/sliderImage3Decktop.png" media="(min-width: 1280px)">
                            <source srcset="./images/sliderImage3Tablet.png" media="(min-width: 768px)">
                            <img src="./images/sliderImage3Decktop.png" alt="food">
                        </picture>
                    </div>
                </div>
                <div class="swiper-button-prev">
                </div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </div>

</section>