<section class="hero">

    <div class="container">
        <div class="flex-container">
            <div class="items-container">
                <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
                <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                    eros
                    elementum tristique.
                    Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <button class="orderButton" data-modal-open2>Order Now</button>
            </div>
            <div class="swiper-container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img
                            srcset="./images/slider-imgs/food1-292.jpg 292w, ./images/slider-imgs/food1-584.jpg 584w, ./images/slider-imgs/food1-1056.jpg 1056w"
                            sizes="(min-width: 1280px) 528px, 292px"
                            src="./images/slider-imgs/food1-292.jpg"
                            alt="Food 1">
                        </div>
                        <div class="swiper-slide">
                            <img
                            srcset="./images/slider-imgs/food2-292.jpg 292w, ./images/slider-imgs/food2-584.jpg 584w, ./images/slider-imgs/food2-1056.jpg 1056w"
                            sizes="(min-width: 1280px) 528px, 292px"
                            src="./images/slider-imgs/food2-292.jpg"
                            alt="Food 2">
                        </div>
                        <div class="swiper-slide">
                            <img
                            srcset="./images/slider-imgs/food3-292.jpg 292w, ./images/slider-imgs/food3-584.jpg 584w, ./images/slider-imgs/food3-1056.jpg 1056w"
                            sizes="(min-width: 1280px) 528px, 292px"
                            src="./images/slider-imgs/food3-292.jpg"
                            alt="Food 3">
                        </div>
                    </div>
                    <div class="swiper-button-prev">
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>

</section>