<section class="offerings" id="offerings">
    <div class="container">
        
        <img srcset="./images/offerings/apple-descktop.png 1x, ./images/offerings/apple-descktop@2x.png 2x " src="./images/offerings/apple-descktop.png" alt="яблоко" class="offerings__img offerings__img--descktop">
        <img srcset="./images/offerings/apple-tablet.png 1x, ./images/offerings/apple-tablet@2x.png 2x " src="./images/offerings/apple-tablet.png" alt="яблоки" class="offerings__img offerings__img--tablet">
        <img srcset="./images/offerings/apple-mobile.png 1x, ./images/offerings/apple-mobile@2x.png 2x" src="./images/offerings/apple-mobile.png" alt="яблоко" class="offerings__img offerings__img--mobile">
  <div class="offerings__title--position">
    <h2 class="offerings__title">What’s Special About Our Offerings </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    </div>
    <ul class="offerings__list">
        <li class="offerings__item list">
        <h3 class="offerings__list--title">Fasest Delivery</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p></li>

        <li class="offerings__item list">
        <h3 class="offerings__list--title">Easy to order</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p></li>
    </ul>
    <ul class="offerings__list offerings__list--button">
        <li class="list"><button type="button" class="button--order">Order Now</button></li>
        <li class="list"><button type="button" class="button--read" >Read more <svg width="13.67px" height="13.67px"><use></use></svg></button></li>
    </ul>




</div>
</section>