<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">What our Customers Say</h2>
    <p class="reviews__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="comments list">
      <li class="comments__item">
        <ul class="rating list">
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="comments__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="comments__flex">
          <img
            srcset="./images/avatar1@1x.jpg 1x, ./images/avatar1@2x.jpg 2x"
            src="./images/avatar1@1x.jpg"
            alt="men reviewer"
            width="48"
            height="48"
            class="comments__photo"
          />
          <div class="comments__reviewer">
            <span class="comments__name">Sumith Shah</span>
            <span class="comments__person">Some Dude</span>
          </div>
        </div>
      </li>
      <li class="comments__item">
        <ul class="rating list">
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg width="17" height="16">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="comments__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="comments__flex">
          <img
            srcset="./images/avatar2@1x.jpg 1x, ./images/avatar2@2x.jpg 2x"
            src="./images/avatar2@1x.jpg"
            alt="women reviewer"
            width="48"
            height="48"
            class="comments__photo"
          />
          <div class="comments__reviewer">
            <span class="comments__name">Sumith Shah</span>
            <span class="comments__person">Some Dude</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
