
<div id="slider">
    <a href="#" class="control_next" onclick="event.preventDefault()">></a>
    <a href="#" class="control_prev" onclick="event.preventDefault()"><</a>
    <div class="slid-wrap">
    <ul>
      <li>
        <img
        srcset="./images/slider-imgs/food1-292.jpg 292w, ./images/slider-imgs/food1-584.jpg 584w, ./images/slider-imgs/food1-1056.jpg 1056w"
        src="./images/slider-imgs/food1-292.jpg"
        alt="Food 1">
      </li>
      <li>
        <img
        srcset="./images/slider-imgs/food2-292.jpg 292w, ./images/slider-imgs/food2-584.jpg 584w, ./images/slider-imgs/food2-1056.jpg 1056w"
        src="./images/slider-imgs/food2-292.jpg"
        alt="Food 2">
      </li>
      <li>
        <img
        srcset="./images/slider-imgs/food3-292.jpg 292w, ./images/slider-imgs/food3-584.jpg 584w, ./images/slider-imgs/food3-1056.jpg 1056w"
        src="./images/slider-imgs/food3-292.jpg"
        alt="Food 3">
      </li>
    </ul>  
    </div>
</div>